button{
  background-color: transparent;
  border:none;
}
html,
body{
height:100vh;
}

.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.login{
  width: 80vw;
  border-top: none;
  background-color: lightgray;
  align-self: center;
  margin-top: 25vh;
}

.login__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.switch__login__btn,
.switch__signup {
  background-color: darkgray;
  padding-top: 1rem;
  border: 2px solid darkslategray;
  box-sizing: border-box;
  width:50%;
}

.switch__login__btn {
  border-right: 1px solid darkslategray;
  border-top-left-radius: 5px;

}
.switch__signup {
  border-left: 1px solid darkslategray;
  border-top-right-radius: 5px;
}
.login-form {
  display:flex;
  flex-flow: column;
  border: 2px solid darkgray;
  border-top:none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login__label {
  margin-top: 1rem;
}

.card__information{
padding: 0 1rem;
}

.card__quickinfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.accordion__holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booking__form{
  display: flex;
  flex-direction: column;
}