button{
  background-color: transparent;
  border:none;
}
.roboto-font {
  font-family: 'Roboto', sans-serif;
}

#root{
  font-family: 'Roboto', sans-serif;
}

body{
  padding-bottom: 3rem;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
}

.login__holder {
  align-self: center;
}
.login__title{
  margin-top: 25vh;
margin-left : -2rem;
background-color: transparent;
box-sizing: border-box;
color:white;
font-size: 2rem;
font-family: 'Roboto', sans-serif;
}

.login{
  width: 80vw;
  max-width: 400px;
  border-top: none;
  border-radius: 5px;
  background-color: transparent;
  
}


.login__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.login__button {
  margin-top: 0.5rem;
  align-self: flex-end;
  width: fit-content;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
}

.switch__login__btn,
.switch__signup {
  font-size: medium;
  background-color: transparent;
  padding: 0.5rem 0rem;
  border: 2px solid white;
  box-sizing: border-box;
  width:50%;
  color:white;
  font-family: 'Roboto', sans-serif;
}

.switch__login__btn {
  border-right: 1px solid white;
  border-top-left-radius: 5px;
}
.switch__signup {
  border-left: 1px solid white;
  border-top-right-radius: 5px;
}
.login-form {
  display:flex;
  flex-flow: column;
  border: 2px solid white;
  border-top:none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.login__input{
  background-color: transparent;
  color: white;
  border:1px solid white;
  color:white;
  font-family: 'Roboto', sans-serif;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.login__label {
  margin-top: 1rem;
}

.card__information{
padding: 0 1rem;
font-family: 'Roboto', sans-serif;
}
.card__img{
  width: 100vw;
  max-width: 600px;
}
.card{
  width: 100vw;
  max-width: 600px;
  padding-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}
.card:last-child{
  padding-bottom: 3rem;
}

.card__quickinfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.card__button{
  border:2px solid darkslategray;
}
.btn--buy{
  border-right:1px solid darkslategray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn--view{
  border-left:1px solid darkslategray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.accordion__holder {
  display: flex;
  justify-content: space-around;
}

.navbar__links {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  margin-left:0;
}

.link{
color: white;
text-decoration: 'none';
}

a:link,
a:visited{
  color:white;
  text-decoration: 'none';
}

.navbar {
  padding: 0;
  margin:0;
 position: fixed;
 bottom: 0;
 width: 100%;
 background-color: slategray;
 display: flex;
 flex-direction: row; 
 justify-content: space-around;
 align-items: center;
 margin-left:0;
 height:3rem;
}

.booking__form{
  display: flex;
  flex-direction: column;
}

.welcome{
  padding: 3rem;
}
.welcome__link,
.welcome__article{
  margin-left:1rem;
  color:white;
}

.welcome__title{
  color:white
}
li {
  list-style-type: none;
}

.resto{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.resto__title{
  align-self: flex-start;
  padding-left:1rem;
}

.resto__card {
  justify-self: center;
}

.search{
  background-color: darkgray;
  justify-self: center;
}
.searchbar{
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.search__holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: slategray;
  width: 100vw;
}

.search__input{
  width:80vw;
  border-radius: 5px;
  align-self: center;
  border:1px white solid;
}

.buttons{
  display: flex;
}

.booking__submit{
  margin-top: 1rem;
}

.bookings{
  padding-left:1rem;
  display: flex;
  flex-direction: column;
  color:white;
}
.bookings__holder{
  padding:1rem
}

.booking__card{
  width:100%;
  max-width: 500px;
  color:white;
}

.booking__btn{
  color:white;
}

.booking__title{
  color:white;
}

.logout__form{
  padding: 2rem;
}

.logout__button{
  background-color: transparent;
  border:white 2px solid;
  color:white;
  font-size:2rem;
}

@media screen and (min-width: 600px) {
  .card{
    width: 50vw;
    max-width: 400px;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 2rem;
  }
  .restos{
    display: flex;
    overflow: hidden;
    flex-flow:row wrap;
    justify-content: space-between;
  }
}